.header {
  font-family: 'Gaegu';
  text-decoration: none;
  display:inline-flex;

  margin-top: 100px;
}

.logo{
  max-width: 300px;
  max-height: auto;
  margin-top: -80px;
}

@font-face {
  font-family: 'Gaegu';
  src: local('./Gaegu-Regular') format('ttf');
}

.comp{
  display: inline;
  margin: 80px;
}

.link{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 35px;
  transition: color 0.4s;
}

.link:hover{
  color: #ffd643;
}

