@font-face {
  font-family: "Gaegu";
  src: url("../components/gaegu/Gaegu-Regular.ttf") format("ttf");
}

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
img,
input,
label,
li,
nav,
p,
select,
span,
table,
textarea,
ul {
  font-family: "Gaegu";
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body,
html {
  overscroll-behavior: hidden;
  overflow-x: hidden;
}

li,
ul {
  list-style: none;
  cursor: pointer;
}
