.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 3vh 3vw;
}

.thumb {
  width: 30vw;
  height: auto;
  margin: 0 4vw;
}

.texts {
  font-family: "Gaegu";
  font-size: 40px;
  text-align: left;
}

.signupTitle {
  margin: 2vh 0;
}

.signupDesc {
  width: 90%;
}
